@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(60, 2%, 16%);
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Copernicus';
  src: url('/fonts/copernicus/CopernicusTrial-Book-BF66160450c2e92.ttf') format('otf');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Copernicus';
  src: url('/fonts/copernicus/CopernicusTrial-Semibold-BF66160451692c7.ttf') format('otf');
  font-weight: 700; /* Bold */
  font-style: normal;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
